<div class="honors">
  <h2>Honors & Awards</h2>
  {% if site.honors != blank -%}
  <div class="table-responsive">
    <table class="table table-sm table-borderless">
      {%- assign honors = site.honors | reverse -%}
      {% for item in honors limit: site.news_limit %}
      <tr>
        <th scope="row">{{ item.date | date: "%Y" }}</th>
        <td>
          {% if item.inline -%}
          {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
          {%- else -%}
          <a class="honors-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
          {%- endif %}
        </td>
      </tr>
      {%- endfor %}
    </table>
  </div>
  {%- else -%}
  <p>No honors so far...</p>
  {%- endif %}
</div>

<br />
<div class="Teaching">
  <h2>Teaching</h2>
  <div class="table-responsive">
    <table class="table table-sm table-borderless">
      <tr><td><b>IST 140</b>: Introduction to Application Programming (Fall 2018)</td></tr>
      <tr><td><b>IST 336</b>: Windows Malware Analysis (Spring 2020)</td></tr>
    </table>
  </div>
</div>

<br />
<div class="Misc">
  <h2>Miscellaneous</h2>
  <p>I love acrylic painting and traveling. I also enjoy shopping and sharing my thoughts about outfit looks on Red (an app for sharing interesting life). For me, bug-free codes and chic clothes are always the source of happiness in my life :D!

  </p>
</div>