<div class="publications">
  <h2>Selected Publications</h2>
  {% bibliography -f papers -q @*[selected=true]* %}
  <br />
</div>


<!-- <div class="honor">
  <h2>Honors & Awards</h2>
  <ul>
    <li>AAAI Conference Student Scholarship, 2022</li>
    <li>Grace Hopper Celebration (GHC) Scholarship, 2021</li>
    <li>Women in Cyber Security (WiCyS) Scholarship, 2020</li>
    <li>AAAI Conference Student Travel Grant Award, 2019</li>
    <li>Women in Cyber Security (WiCyS) Scholarship, 2018</li>
    <li>National Scholarship from China Scholarship Council (CSC), 2016</li>
    <li>Honorable Mention in 2016 Mathematical Contest in Modeling, 2016</li>
  </ul>
</div> -->